body {
    background-color:#99c;
    background-image: -webkit-gradient: linear-gradient(#FFFFFF, #8FA5CE);
}

#mainWindow {
    background-color:#ddd;
    width:500pt;
    height:300pt;
    margin-top:18pt;
    margin-left:18pt;
    border: solid #ddd 2px; 
    -webkit-box-shadow: 5pt 5pt 10pt #666;
    -moz-box-shadow: 5pt 5pt 10pt #666;
}

.titleBar {
    text-align:center;
    font-family:arial;
    font-size:12pt;
    background-color:#333399;
    color:white;
    margin-top:0;
    margin-bottom:0pt;
    padding:2pt;
}

/* the drawing canvas */
#canvas1 { 
    position:absolute;
    left:174pt;
    top:50pt;
    background-color:white;
    -webkit-box-shadow: inset 2px 2px 2px #666;
    -moz-box-shadow: inset 2px 2px 2px #666;
}

/* control box */ #controls {
    position:absolute; left:54px; top:66px; width:140px; height:326px;
    background-color:white; padding:6pt; -webkit-box-shadow: inset 2px
    2px 2px #666; -moz-box-shadow: inset 2px 2px 2px #666;
}

#objectdiv {
    margin-top:6pt;
    margin-left:0.2in;
    margin-right:auto;
    margin-bottom:-12pt;
}

.option {
    margin:0pt;
    font-size:90%;
}

#sliderdiv {
    margin-top:18pt;
    margin-left:.2in;
    margin-right:.2in;
}

#zoomSlider {
    width:105px;
    margin-top:6pt;
    margin-left:-4pt;
}

#perspectiveSlider {
    width:105px;
    margin-top:-10pt;
    margin-left:-4pt;
}

#zoompar {
    font-size:90%;
    margin-top:-3pt;
    text-align:center;
}

#perspectivepar {
    font-size:90%;
    margin-top:-3pt;
    text-align:center;
}

/* box for debugging output */
#messageWindow {
    position:absolute;
    top: -000pt;
    left: 530pt;
    border: solid black 1px;
    margin-left:20pt;
    margin-top: 20pt;
    width: 210pt;
    height: 300pt;
    background-color:#FF9;
    overflow: auto;
}

#messages {
    padding:4pt;
    font-size:75%;
    font-family:courier;
    overflow: auto;
}
